@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Raleway:wght@500;700;800&display=swap&family=Freckle+Face&display=swap');

:root{
    --degrade-verao: linear-gradient(180deg, #BFDAE6 0%, #FCF0DD 52.6%, #FACF9D 100%);
    --primaria-verao-azul: #2E7BA2;
    --primaria-verao-mostarda: #DF9010;
    --secundaria-verao-azulclaro: #C8DEEF;
    --terciaria-verao-coral: #FBF0DD;
    --terciaria-verao-amarelo: #FACF9D;

    --degrade-boreal: linear-gradient(180deg, #304968 0%, #36C1A0 52.6%, #4650BD 100%);
    --primaria-boreal-roxo: #4650BD;
    --primaria-boreal-verde: #008364;
    --secundaria-boreal-verde: #304968;
    --terciaria-boreal-verdeclaro: #36C1A0;
    --terciaria-boreal-lilas: #B6BCFF;

    --verao--hover: #519EC5;
    --boreal--hover: #606ADA;

    --branco: #FFFFFF;
    --cinza-4: #444444;
    --cinza-9: #999999;

    --fonte-titulos: 'Calistoga', cursive;
    --fonte-textos: 'Raleway', sans-serif;
    --fonte-logo: 'Freckle Face', cursive;
}

/*Seletor de tema*/
.layout__input {
    display: none;
}

.layout {
    width: 124px;
    height: 20px;
    position: fixed;
    top: 5px;
    right: 5px;
}

.layout__botao {
    height: 20px;
    width: 110px;
    border-radius: 11px;
    background-color: var(--terciaria-verao-coral);
    border: 2px solid var(--cinza-4);
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    transition: .5s;
}

.tag__layout {
    font-family: var(--fonte-textos);
    font-size: 12px;
    color: var(--cinza-4);
}

.layout__botao_botao{
    background-color: var(--primaria-verao-azul);
    height: 16px;
    width: 66px;
    border-radius: 9px;
    border: none;
    pointer-events: none;
    top: 2px;
    left: 2px;
    position: absolute;
    font-size: 12px;
    color: var(--branco);
    transition: .5s
}

/*responsividade das imagens no tema padrão*/
.verao,
.mobile {
    display: block;
}

.boreal,
.tablet, 
.desktop,
.rodape > .boreal, 
.rodape > .redes_sociais >.boreal {
    display: none;
}

/*Ajuste Padrão Verão*/
body{
    font-family: var(--fonte-textos);
    width: 100vw;
}

.topo{
    position: fixed;
    top: 0px;
    background-color: var(--primaria-verao-azul);
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 110px ;
    min-width: 320px;
}

.logo {
    color: var(--branco);
    font-family: 'Freckle Face', cursive;
    font-size: 42px;
    letter-spacing: 0.1rem;
    line-height: 64px;
    text-decoration: none;
    
}

.logo:hover {
    color: var(--primaria-verao-mostarda)
}

.topo__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url('../img/verao/menu_hamburguer.png');
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    cursor: pointer;
    transition: 400ms;
}

.topo__menu-hamburguer:hover {
    transform: scale(1.5);
}

.lista-menu{
    display: none;
    position: absolute;
    top: 115px;
    left: 49%;
    width: 50%;
    background-color: var(--primaria-verao-azul);
}

.topo__conteudo_botao:checked ~.lista-menu {
    display: block;
}

.topo__conteudo_botao {
    display: none;
}

.lista-menu__item {
    padding: 16px;
    text-align: center;
}

.lista-menu__linha {
    border: 2px solid var(--branco);
    margin: 0 8%;
}

.lista-menu__link {
    color: var(--branco);
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
}

.lista-menu__link:hover {
    text-decoration: underline;
    color: var(--primaria-verao-mostarda)
}

.banner_container {
    height: 110px;
}

.banner{
    width: 100%;
    min-width: 320px;
    min-height: 240px;
}

.corpo,
.corpo__info {
    min-width: 320px;
    padding: 32px 0;
    background: var(--degrade-verao);
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--cinza-4);
    row-gap: 2%;
}

.corpo__secao{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.imagem_1 {
    width: 86%;
    height: 106%;
    min-width: 313px;
    min-height: 381px;
    border-radius: 4%;
}

.corpo__secao_texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px 0;
}

.titulo_secao {
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    padding-bottom: 24px;
}

p {
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    padding: 5px;
}

.botao__ingresso {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px 16px;
    width: 280px;
    height: 56px;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    color: var(--branco);
    text-decoration: none;
    background-color: var(--primaria-verao-azul);
    border-radius: 16px;
    box-shadow: 4px 4px 0px var(--cinza-4);
    transition: 0.5s all;
    margin-top: 50px;
}

.botao__ingresso:hover {
    background-color: var(--verao--hover);
}

.titulo_line_up {
    font-family: var(--fonte-titulos);
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    padding: 48px 0;
}

.atracoes{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 0 24px;
    width: calc(100% - 48px);
}

.data {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.card_data{
    background-color: var(--primaria-verao-mostarda);
    color: var(--branco);
    font-family: var(--fonte-titulos);
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    padding: 0.8rem;
    min-width: 289px;
    margin: 40px 0;
}

.linha_data {
    width: 8%;
    border: 1px solid var(--primaria-verao-mostarda);
    display: none;
}

.bandas{
    min-width: 320px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.bandas_1 {
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
}

.bandas_2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

.bandas_3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.bandas_4 {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
}

.imagem_2 {
    width: 100%;
}

.rodape {
    min-width: 320px;
    display: flex;
    flex-direction: column;
    background-color: var(--terciaria-verao-amarelo);
    text-align: center;
    align-items: center;
}

.icones_redes_lista{
    display:flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
}

.icones_redes {
    width: 32px;
    height: 32px;
}

.destaque_rodape {
    font-weight: 800;
    color: var(--primaria-verao-azul);
}

/*Mudança de Tema Boreal*/

.layout__input:checked ~.corpo,
.layout__input:checked ~.corpo > .ingresso_gerado > .ingresso_mesmo {
    background: var(--degrade-boreal);
    color: var(--branco) ;
}

.layout__input:checked ~.topo > .layout > .switcher > .layout__botao> .layout__botao_botao { 
    background-color: var(--primaria-boreal-roxo);
    left: 52px;
}

.layout__input:checked ~ .topo,
.layout__input:checked ~.corpo > .corpo__secao > .corpo__secao_texto > .botao__ingresso,
.layout__input:checked ~.corpo__info > .lista_perguntas > .item_pergunta > .faq,
.layout__input:checked ~.corpo > .corpo__secao > .corpo__secao_texto > .ficha_formulario > .botao__avancar {
    background-color: var(--primaria-boreal-roxo)
}

.layout__input:checked ~.topo > .layout > .switcher > .layout__botao { 
    background-color: var(--terciaria-boreal-verdeclaro);
}

.layout__input:checked ~.corpo > .data > .card_data {
    background-color: var(--primaria-boreal-verde);
}

.layout__input:checked ~.corpo > .data > .linha_data {
    border: 1px solid var(--primaria-boreal-verde);
}

.layout__input:checked ~.topo > nav > .topo__conteudo > .lista-menu,
.layout__input:checked ~.rodape {
    background-color: var(--primaria-boreal-roxo);
    color: var(--branco);
}

.layout__input:checked ~.topo > nav > .topo__conteudo > .logo:hover,
.layout__input:checked ~.topo > nav > .topo__conteudo > .lista-menu > .lista-menu__item > .lista-menu__link:hover,
.layout__input:checked ~.rodape > p > .destaque_rodape {
    color: var(--terciaria-boreal-verdeclaro);
}

.layout__input:checked ~.corpo > .corpo__secao > .corpo__secao_texto > .botao__ingresso:hover,
.layout__input:checked ~.corpo > .corpo__secao > .corpo__secao_texto > .ficha_formulario > .botao__avancar:hover {
    background-color: var(--boreal--hover);
}

.layout__input:checked ~.corpo__info > .lista_perguntas > .item_pergunta > .faq_resposta {
    background-color: var(--terciaria-boreal-lilas);
    color: var(--cinza-4);
}
/* Elementos do tema*/

.layout__input:checked ~.corpo > .corpo__secao > .imagem_1,
.layout__input:checked ~.boreal,    
.layout__input:checked ~.corpo > .boreal,
.layout__input:checked ~.corpo >  .corpo__secao > .boreal,
.layout__input:checked ~.rodape > .boreal,
.layout__input:checked ~.rodape > .redes_sociais > .boreal,
.layout__input:checked ~.corpo > .ingresso_gerado > .ingresso_mesmo > .boreal {
    display: block;
}

.layout__input:checked ~.verao,
.layout__input:checked ~.corpo > .verao,
.layout__input:checked ~.corpo > .corpo__secao > .verao,
.layout__input:checked ~.rodape > .verao,
.layout__input:checked ~.rodape > .redes_sociais > .verao,
.layout__input:checked ~.corpo > .ingresso_gerado > .ingresso_mesmo > .verao {
    display: none;
}


/*responsividade das imagens no tema boreal*/

.layout__input:checked ~ .tablet, 
.layout__input:checked ~ .desktop,
.layout__input:checked ~ .corpo > .tablet, 
.layout__input:checked ~ .corpo > .desktop,
.layout__input:checked ~ .corpo > .corpo__secao > .tablet, 
.layout__input:checked ~ .corpo > .corpo__secao > .desktop {
    display: none;
}


/*Mapa de setores*/

.mapa_legenda {
    width: 100%;
}

.esquema_setores {
    width: 100%;
    height: 88.3%;
}

.estadio_legenda {
    width: 75%;
    padding: 5% 0%;
    text-align: left;
}

.estadio_legenda > .titulo_secao {
    font-size: 20px;
}

.imagem_mapa {
    width: 87%;
    height: 66%;
    min-width: 313px;
    min-height: 239px;
    border-radius: 4%;
}

.titulo_secao_legenda {
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
}

.linha {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 16px;
}

.linha > img{
    width: 32px;
    height: 32px;
    border: 1px solid var(--cinza-4);
    border-radius: 3px;
}

.corpo_setores {
 padding: 0 2%;
}

/*Informações*/
.corpo__info {
    padding: 32px 16px;
}

.titulo__info {
    font-family: var(--fonte-titulos);
    font-size: 32px;
    line-height: 42px;   
    padding: 32px 24px; 
}

.lista_perguntas {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 95%;
}

.faq {
    background: var(--primaria-verao-azul);
    color: var(--branco);
    font-family: var(--fonte-textos);
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    padding: 16px;
    text-align: left; 
    display: grid;
    grid-template-columns: 19fr 1fr;
    align-items: center;
    gap: 20px;
    width: 95%;
}

.seta_faq {
    width: 14px;
    height: 7px;
    background: url(../img/verao/arrow_drop_down.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-self: center;
}

.item_pergunta[open] > .faq > .seta_faq  {
    background-image: url(../img/verao/arrow_drop_up.png);
}


.faq_resposta {
    background: var(--secundaria-verao-azulclaro);
    font-family: var(--fonte-textos);
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    padding: 16px;
    text-align: left;
    width: 95%;
}



/*Formulario*/
.ficha_formulario {
    display: grid;
    row-gap: 8px;
}

.corpo__secao_formulario,
.corpo__secao_formulario .corpo__secao_texto,
.ficha_formulario {
    width: 97%
}

.campo_formulario,
.ficha_formulario input,
.ficha_formulario select {
    font-family: var(--fonte-textos);
    line-height: 1.5;
    text-align: left;
    width: calc(100% - 20px);
    padding: 0 10px;
    box-sizing: content-box;
}

.campo_formulario {
    font-weight: 700;
    font-size: 32px;
}

.ficha_formulario input,
.ficha_formulario select {
    font-weight: 400;
    font-size: 20px;
    border: none;
    height: 48px;
    margin-bottom: 24px;
}

.ficha_formulario select {
    background-color: var(--branco);
    background-image: url(../img/verao/arrow_gray_drop_down.png);
    background-repeat: no-repeat;
    background-position: 95% 50%;
    appearance: none;
}


.ficha_formulario .botao__avancar {
    padding: 0 16px;
    width: 164px;
    height: 56px;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    color: var(--branco);
    background-color: var(--primaria-verao-azul);
    background-image: url(../img/verao/avancar.png);
    background-repeat: no-repeat;
    background-position: 90% 50%;
    border: none;
    border-radius: 16px;
    box-shadow: 4px 4px 0px var(--cinza-4);
    transition: 0.5s all;
    margin-top: 50px;
    cursor: pointer;
    text-align: left;
    justify-self: center;
}

.botao__avancar:hover {
    background-color: var(--verao--hover);
}

.ingresso_oculto {
    display: none;
}


/*Ingresso*/

.mensagem_ingresso {
    font-family: var(--fonte-textos);
    font-size: 32px;
    line-height: 38px;
    padding: 32px 24px;
}

.ingresso_gerado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ingresso_mesmo {
    width: 72%;
    max-width: 320px;
    padding: 32px;
    background: var(--degrade-verao);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.ingresso_mesmo img:nth-child(1),
.ingresso_mesmo img:nth-child(2){
    grid-column: 1 / 2;
    width: 120px;
    height: auto;
}

.ingresso_mesmo img:nth-child(3),
.ingresso_mesmo img:nth-child(4){
    grid-column: 2 / 3;
    width: 32px;
    height: 32px;
    justify-self: right;
}

.ingresso_mesmo img:nth-child(5),
.ingresso_mesmo .ingresso__dados{
    grid-column: 1 / 3;
    justify-self: center;
    width: 70%;
    margin: 32px 0;
}

.ingresso__dados {
    width: 90% ;
}


.ing_nome {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.ing_dado {
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
}

@media screen and (max-width: 324px) {
    .layout {
        top: 5px;
        right: 50%;
    }
    
    .lista-menu{
        left: 10%;
        width: 80%;
    }


}
